<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 4
%autosave 120

Autosaving every 120 seconds

In [2]:
from fastai.io import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from pandas_summary import DataFrameSummary
from IPython.display import display
from sklearn import metrics
import feather

In [3]:
hist_trans = feather.read_dataframe('hist_trans')
new_hist_trans = feather.read_dataframe('new_hist_trans')

In [4]:
temp1 = hist_trans.loc[hist_trans['card_id'].isin(['C_ID_05042ebd55'])]

In [5]:
temp2 = hist_trans.loc[hist_trans['card_id'].isin(['C_ID_5c240d6e3c'])]

In [6]:
temp = hist_trans.loc[hist_trans['card_id'].isin(['C_ID_05042ebd55', 'C_ID_5c240d6e3c'])]

In [20]:
def aggregate_per_month(history):
    grouped = history.groupby(['card_id', 'authorized_flag'])

    agg_func = {
            'purchase_amount': ['count', 'sum', 'mean', 'min', 'max', 'std'],
            'installments': ['count', 'sum', 'mean', 'max'],
            }

    intermediate_group = grouped.agg(agg_func)
    intermediate_group.columns = ['_'.join(col).strip() for col in intermediate_group.columns.values]
    intermediate_group.reset_index(inplace=True)

    final_group = intermediate_group.groupby('card_id').agg(['mean', 'std'])
    final_group.columns = ['_'.join(col).strip() for col in final_group.columns.values]
    final_group.reset_index(inplace=True)
    
    return final_group

In [21]:
aggregate_per_month(temp).T

                                          0                1
card_id                     C_ID_05042ebd55  C_ID_5c240d6e3c
authorized_flag_mean                    0.5                1
authorized_flag_std                0.707107              NaN
purchase_amount_count_mean                3                3
purchase_amount_count_std           1.41421              NaN
purchase_amount_sum_mean           -2.09518          1.24729
purchase_amount_sum_std             1.05511              NaN
purchase_amount_mean_mean         -0.692435         0.415764
purchase_amount_mean_std          0.0252857              NaN
purchase_amount_min_mean          -0.715502         -0.65774
purchase_amount_min_std            0.014663              NaN
purchase_amount_max_mean          -0.668462          1.13441
purchase_amount_max_std            0.034628              NaN
purchase_amount_std_mean           0.028745         0.947309
purchase_amount_std_std           0.0205063              NaN
installments_count_mean                   3                3
installments_count_std              1.41421              NaN
installments_sum_mean                     0                0
installments_sum_std                      0              NaN
installments_mean_mean                    0                0
installments_mean_std                     0              NaN
installments_max_mean                     0                0
installments_max_std                      0              NaN

In [15]:
aggregate_per_month(temp).T

                                          0                1
card_id                     C_ID_05042ebd55  C_ID_5c240d6e3c
month_lag_mean                        -1.75               -1
month_lag_std                       1.70783                1
purchase_amount_count_mean              1.5                1
purchase_amount_count_std                 1                0
purchase_amount_sum_mean           -1.04759         0.415764
purchase_amount_sum_std            0.726632         0.947309
purchase_amount_mean_mean         -0.691494         0.415764
purchase_amount_mean_std          0.0333258         0.947309
purchase_amount_min_mean          -0.694912         0.415764
purchase_amount_min_std            0.036689         0.947309
purchase_amount_max_mean          -0.689728         0.415764
purchase_amount_max_std            0.032025         0.947309
purchase_amount_std_mean          0.0118443              NaN
purchase_amount_std_std                 NaN              NaN
installments_count_mean                 1.5                1
installments_count_std                    1                0
installments_sum_mean                     0                0
installments_sum_std                      0                0
installments_mean_mean                    0                0
installments_mean_std                     0                0
installments_max_mean                     0                0
installments_max_std                      0                0

In [13]:
aggregate_per_month(temp).T

                                          0                1
card_id                     C_ID_05042ebd55  C_ID_5c240d6e3c
month_lag_mean                         -1.4               -1
month_lag_std                       1.67332                1
authorized_flag_mean                    0.6                1
authorized_flag_std                0.547723                0
purchase_amount_count_mean              1.2                1
purchase_amount_count_std          0.447214                0
purchase_amount_sum_mean          -0.838074         0.415764
purchase_amount_sum_std            0.332868         0.947309
purchase_amount_mean_mean         -0.694928         0.415764
purchase_amount_mean_std          0.0300732         0.947309
purchase_amount_min_mean          -0.696957         0.415764
purchase_amount_min_std           0.0321007         0.947309
purchase_amount_max_mean            -0.6929         0.415764
purchase_amount_max_std           0.0286267         0.947309
purchase_amount_std_mean          0.0143442              NaN
purchase_amount_std_std                 NaN              NaN
installments_count_mean                 1.2                1
installments_count_std             0.447214                0
installments_sum_mean                     0                0
installments_sum_std                      0                0
installments_mean_mean                    0                0
installments_mean_std                     0                0
installments_max_mean                     0                0
installments_max_std                      0                0

In [11]:
aggregate_per_month(temp).T

                                          0                1
card_id                     C_ID_05042ebd55  C_ID_5c240d6e3c
month_lag_mean                        -1.75               -1
month_lag_std                       1.70783                1
purchase_amount_count_mean              1.5                1
purchase_amount_count_std                 1                0
purchase_amount_sum_mean           -1.04759         0.415764
purchase_amount_sum_std            0.726632         0.947309
purchase_amount_mean_mean         -0.691494         0.415764
purchase_amount_mean_std          0.0333258         0.947309
purchase_amount_min_mean          -0.694912         0.415764
purchase_amount_min_std            0.036689         0.947309
purchase_amount_max_mean          -0.689728         0.415764
purchase_amount_max_std            0.032025         0.947309
purchase_amount_std_mean          0.0118443              NaN
purchase_amount_std_std                 NaN              NaN
installments_count_mean                 1.5                1
installments_count_std                    1                0
installments_sum_mean                     0                0
installments_sum_std                      0                0
installments_mean_mean                    0                0
installments_mean_std                     0                0
installments_max_mean                     0                0
installments_max_std                      0                0

In [31]:
temp.T

,29112043,29112044,29112045,29112046,29112047,29112048,29112358,29112359,29112360
authorized_flag,0,1,1,1,0,1,1,1,1
card_id,C_ID_05042ebd55,C_ID_05042ebd55,C_ID_05042ebd55,C_ID_05042ebd55,C_ID_05042ebd55,C_ID_05042ebd55,C_ID_5c240d6e3c,C_ID_5c240d6e3c,C_ID_5c240d6e3c
city_id,-1,20,-1,-1,-1,-1,3,331,331
category_1,0,0,0,0,0,0,0,0,0
installments,0,0,0,0,0,0,0,0,0
category_3,A,A,A,A,A,A,A,A,A
merchant_category_id,437,422,703,80,80,278,278,514,514
merchant_id,M_ID_ce1e7a7a85,M_ID_0de7fd2bef,M_ID_051eacb2a3,M_ID_9ecff0beda,M_ID_9ecff0beda,M_ID_814793f74b,M_ID_9cdcfe8673,M_ID_1a75f94f92,M_ID_1a75f94f92
month_lag,-4,-1,-2,0,0,0,0,-1,-2
purchase_amount,-0.643976,-0.692948,-0.716855,-0.705585,-0.705134,-0.725871,-0.65774,0.77062,1.13441
purchase_date,2017-10-28 15:16:46,2018-01-14 21:22:48,2017-12-31 16:27:35,2018-02-07 12:34:06,2018-02-07 12:33:36,2018-02-09 15:04:41,2017-12-26 18:37:51,2017-11-24 14:18:15,2017-10-26 14:09:40
category_2,1,3,1,1,1,1,1,1,1
state_id,-1,19,-1,-1,-1,-1,16,16,16
subsector_id,15,27,29,37,37,37,37,9,9
purchase_Year,2017,2018,2017,2018,2018,2018,2017,2017,2017
purchase_Month,10,1,12,2,2,2,12,11,10
purchase_Week,43,2,52,6,6,6,52,47,43
purchase_Day,28,14,31,7,7,9,26,24,26
purchase_Dayofweek,5,6,6,2,2,4,1,4,3
purchase_Dayofyear,301,14,365,38,38,40,360,328,299
purchase_Is_month_end,False,False,True,False,False,False,False,False,False
purchase_Is_month_start,False,False,False,False,False,False,False,False,False
purchase_Is_quarter_end,False,False,True,False,False,False,False,False,False
purchase_Is_quarter_start,False,False,False,False,False,False,False,False,False
purchase_Is_year_end,False,False,True,False,False,False,False,False,False
purchase_Is_year_start,False,False,False,False,False,False,False,False,False
purchase_Elapsed,1509203806,1515964968,1514737655,1518006846,1518006816,1518188681,1514313471,1511533095,1509026980
purchased_on_weekend,1,1,1,0,0,0,0,0,0
month_diff,10,11,10,11,11,11,12,13,12

In [33]:
temp.groupby(['card_id']).agg({"authorized_flag": ['sum', 'mean']})

                authorized_flag
                            sum      mean
card_id
C_ID_05042ebd55               4  0.666667
C_ID_5c240d6e3c               3  1.000000

In [34]:
temp.groupby(['authorized_flag'])['purchase_amount'].agg('sum')

authorized_flag
0   -1.349110
1   -1.593967
Name: purchase_amount, dtype: float64

In [35]:
temp1.groupby(['authorized_flag'])['purchase_amount'].agg('sum')

authorized_flag
0   -1.349110
1   -2.841258
Name: purchase_amount, dtype: float64

In [36]:
temp2.groupby(['authorized_flag'])['purchase_amount'].agg('sum')

authorized_flag
1    1.247291
Name: purchase_amount, dtype: float64

In [25]:
def successive_aggregates(df, field1, field2):
    t = df.groupby(['card_id', field1])[field2].mean()
    u = pd.DataFrame(t).reset_index().groupby('card_id')[field2].agg(['mean', 'min', 'max', 'std'])
    u.columns = [field1 + '_' + field2 + '_' + col for col in u.columns.values]
    u.reset_index(inplace=True)
    return u

In [27]:
successive_aggregates(temp, 'authorized_flag', 'purchase_amount').T

                                                    0                1
card_id                               C_ID_05042ebd55  C_ID_5c240d6e3c
authorized_flag_purchase_amount_mean        -0.692435         0.415764
authorized_flag_purchase_amount_min         -0.710314         0.415764
authorized_flag_purchase_amount_max         -0.674555         0.415764
authorized_flag_purchase_amount_std         0.0252857              NaN

In [26]:
successive_aggregates(temp, 'category_1', 'purchase_amount').T

                                               0                1
card_id                          C_ID_05042ebd55  C_ID_5c240d6e3c
category_1_purchase_amount_mean        -0.698395         0.415764
category_1_purchase_amount_min         -0.698395         0.415764
category_1_purchase_amount_max         -0.698395         0.415764
category_1_purchase_amount_std               NaN              NaN