<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
from tsfresh.examples.robot_execution_failures import download_robot_execution_failures, \
    load_robot_execution_failures
download_robot_execution_failures()
timeseries, y = load_robot_execution_failures()

In [2]:
from tsfresh import extract_features
from tsfresh import extract_relevant_features

In [ ]:
features_filtered_direct.to_feather('adf')

In [3]:
import feather

In [5]:
adf = feather.read_dataframe('adf')

In [6]:
adf.head()

,id,F_x__abs_energy,F_x__range_count__max_1__min_-1,F_y__abs_energy,T_y__standard_deviation,T_y__variance,"F_x__fft_coefficient__coeff_1__attr_""abs""","T_y__fft_coefficient__coeff_1__attr_""abs""",T_y__abs_energy,F_z__standard_deviation,...,T_z__large_standard_deviation__r_0.35000000000000003,T_z__quantile__q_0.9,"F_z__agg_linear_trend__f_agg_""max""__chunk_len_5__attr_""intercept""","T_x__agg_autocorrelation__f_agg_""mean""","F_y__change_quantiles__f_agg_""var""__isabs_False__qh_1.0__ql_0.8",T_x__spkt_welch_density__coeff_5,"T_y__agg_linear_trend__f_agg_""min""__chunk_len_5__attr_""intercept""","F_y__change_quantiles__f_agg_""var""__isabs_False__qh_0.6__ql_0.2","F_z__agg_linear_trend__f_agg_""max""__chunk_len_10__attr_""intercept""","F_z__change_quantiles__f_agg_""var""__isabs_False__qh_0.8__ql_0.4"
0,1,14.0,15.0,13.0,0.471405,0.222222,1.000000,1.165352,10.0,1.203698,...,0.0,0.0,62.833333,-0.095589,0.209184,0.037795,-1.000000,0.000000,63.0,0.000000
1,2,25.0,13.0,76.0,2.054805,4.222222,0.624118,6.020261,90.0,4.333846,...,1.0,0.0,64.666667,-0.054604,0.000000,0.319311,-1.000000,0.222222,70.0,2.666667
2,3,12.0,14.0,40.0,1.768867,3.128889,2.203858,8.235442,103.0,4.616877,...,1.0,0.0,67.333333,-0.061050,0.000000,9.102780,-3.000000,0.250000,68.0,8.187500
3,4,16.0,10.0,60.0,2.669998,7.128889,0.844394,12.067855,124.0,3.833188,...,0.0,0.0,63.666667,-0.133794,1.555556,56.910262,-3.166667,1.360000,66.0,1.000000
4,5,17.0,13.0,46.0,2.039608,4.160000,2.730599,6.445330,180.0,4.841487,...,0.0,0.6,64.333333,-0.106108,0.000000,22.841805,-4.166667,1.040000,67.0,0.000000

In [7]:
new_hist = feather.read_dataframe('new_hist_trans')

In [8]:
new_hist.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,purchase_Dayofyear,purchase_Is_month_end,purchase_Is_month_start,purchase_Is_quarter_end,purchase_Is_quarter_start,purchase_Is_year_end,purchase_Is_year_start,purchase_Elapsed,purchased_on_weekend,month_diff
0,1,C_ID_415bb3a509,107,0,1,B,307,M_ID_b0c793002c,1,-0.557574,...,70,False,False,False,False,False,False,1520780256,1,11
1,1,C_ID_415bb3a509,140,0,1,B,307,M_ID_88920c89e8,1,-0.569580,...,78,False,False,False,False,False,False,1521485617,0,10
2,1,C_ID_415bb3a509,330,0,1,B,507,M_ID_ad5237ef6b,2,-0.551037,...,116,False,False,False,False,False,False,1524751724,0,10
3,1,C_ID_415bb3a509,-1,1,1,B,661,M_ID_9e84cda3b1,1,-0.671925,...,66,False,False,False,False,False,False,1520415801,0,11
4,1,C_ID_ef55cf8d4b,-1,1,1,B,166,M_ID_3c86fa3831,1,-0.659904,...,81,False,False,False,False,False,False,1521752873,0,10

In [9]:
hist_copy = new_hist[:20].copy()

In [8]:
hist_copy

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,purchase_Dayofyear,purchase_Is_month_end,purchase_Is_month_start,purchase_Is_quarter_end,purchase_Is_quarter_start,purchase_Is_year_end,purchase_Is_year_start,purchase_Elapsed,purchased_on_weekend,month_diff
0,1,C_ID_415bb3a509,107,0,1,B,307,M_ID_b0c793002c,1,-0.557574,...,70,False,False,False,False,False,False,1520780256,1,11
1,1,C_ID_415bb3a509,140,0,1,B,307,M_ID_88920c89e8,1,-0.569580,...,78,False,False,False,False,False,False,1521485617,0,10
2,1,C_ID_415bb3a509,330,0,1,B,507,M_ID_ad5237ef6b,2,-0.551037,...,116,False,False,False,False,False,False,1524751724,0,10
3,1,C_ID_415bb3a509,-1,1,1,B,661,M_ID_9e84cda3b1,1,-0.671925,...,66,False,False,False,False,False,False,1520415801,0,11
4,1,C_ID_ef55cf8d4b,-1,1,1,B,166,M_ID_3c86fa3831,1,-0.659904,...,81,False,False,False,False,False,False,1521752873,0,10
5,1,C_ID_ef55cf8d4b,231,0,1,B,367,M_ID_8874615e00,2,-0.633007,...,92,False,False,False,False,False,False,1522673608,0,11
6,1,C_ID_ef55cf8d4b,69,0,1,B,333,M_ID_6d061b5ddc,1,5.263697,...,87,False,False,False,False,False,False,1522266619,0,10
7,1,C_ID_ef55cf8d4b,231,0,1,B,307,M_ID_df1e022f41,2,-0.553787,...,95,False,False,False,False,False,False,1522915612,0,11
8,1,C_ID_ef55cf8d4b,69,0,1,B,278,M_ID_d15eae0468,2,-0.596643,...,97,False,False,False,False,False,False,1523126260,1,11
9,1,C_ID_ef55cf8d4b,69,0,1,B,437,M_ID_5f9bffd028,1,-0.607191,...,76,False,False,False,False,False,False,1521310241,1,11
10,1,C_ID_ef55cf8d4b,69,0,-1,A,45,M_ID_3ffd43b4cd,1,4.452265,...,90,True,False,True,False,False,False,1522490140,1,10
11,1,C_ID_ef55cf8d4b,69,0,1,B,108,M_ID_e6f5213fbf,1,-0.605959,...,70,False,False,False,False,False,False,1520772821,1,11
12,1,C_ID_ef55cf8d4b,69,0,1,B,278,M_ID_aa97bc87f6,1,-0.634209,...,73,False,False,False,False,False,False,1521036463,0,11
13,1,C_ID_ef55cf8d4b,69,0,1,B,157,M_ID_28fbc8c74d,2,-0.492058,...,104,False,False,False,False,False,False,1523698065,1,11
14,1,C_ID_ef55cf8d4b,-1,1,1,B,302,M_ID_b9f9332438,1,-0.665539,...,82,False,False,False,False,False,False,1521840953,0,10
15,1,C_ID_ef55cf8d4b,231,0,1,B,80,M_ID_ad15049b64,2,-0.646245,...,108,False,False,False,False,False,False,1524055308,0,10
16,1,C_ID_ef55cf8d4b,69,0,1,B,307,M_ID_51757498fd,1,-0.671775,...,70,False,False,False,False,False,False,1520771936,1,11
17,1,C_ID_ef55cf8d4b,69,0,1,B,560,M_ID_a1183a4e5e,2,-0.690228,...,112,False,False,False,False,False,False,1524409227,1,10
18,1,C_ID_ef55cf8d4b,231,0,3,C,333,M_ID_f74d9cbbd0,1,0.751371,...,60,False,True,False,False,False,False,1519914412,0,11
19,1,C_ID_ef55cf8d4b,231,0,1,B,369,M_ID_f0bf60c061,1,-0.343296,...,81,False,False,False,False,False,False,1521712643,0,10

In [10]:
hist_copy.groupby(['card_id', 'category_2']).agg({'purchase_amount': ['sum', 'mean']}).reset_index()

           card_id category_2 purchase_amount
                                          sum      mean
0  C_ID_415bb3a509        1.0       -2.350116 -0.587529
1  C_ID_ef55cf8d4b        1.0        2.667491  0.166718

In [2]:
from fastai.io import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from pandas_summary import DataFrameSummary
from IPython.display import display
from sklearn import metrics
import feather

In [ ]:
features_filtered_direct = extract_relevant_features(hist_copy, y,
                                                     column_id='purchase_date', column_sort='time')

In [4]:
??extract_relevant_features

In [11]:
def successive_aggregates(df, field1, field2):
    t = df.groupby(['card_id', field1])[field2].mean()
    u = pd.DataFrame(t).reset_index().groupby('card_id')[field2].agg(['mean', 'min', 'max', 'std'])
    u.columns = [field1 + '_' + field2 + '_' + col for col in u.columns.values]
    u.reset_index(inplace=True)
    return u

In [13]:
successive_aggregates(hist_copy, 'category_1', 'purchase_amount')

,card_id,category_1_purchase_amount_mean,category_1_purchase_amount_min,category_1_purchase_amount_max,category_1_purchase_amount_std
0,C_ID_00007093c1,NaN,NaN,NaN,NaN
1,C_ID_0001238066,NaN,NaN,NaN,NaN
2,C_ID_0001506ef0,NaN,NaN,NaN,NaN
3,C_ID_0001793786,NaN,NaN,NaN,NaN
4,C_ID_000183fdda,NaN,NaN,NaN,NaN
5,C_ID_0002709b5a,NaN,NaN,NaN,NaN
6,C_ID_000298032a,NaN,NaN,NaN,NaN
7,C_ID_0002ba3c2e,NaN,NaN,NaN,NaN
8,C_ID_0002c7c2c1,NaN,NaN,NaN,NaN
9,C_ID_00032df08f,NaN,NaN,NaN,NaN
10,C_ID_0003754056,NaN,NaN,NaN,NaN
11,C_ID_000377f6a0,NaN,NaN,NaN,NaN
12,C_ID_0003be3c83,NaN,NaN,NaN,NaN
13,C_ID_0003f41435,NaN,NaN,NaN,NaN
14,C_ID_00042d509c,NaN,NaN,NaN,NaN
15,C_ID_0004587331,NaN,NaN,NaN,NaN
16,C_ID_0004725b87,NaN,NaN,NaN,NaN
17,C_ID_0004888ddd,NaN,NaN,NaN,NaN
18,C_ID_0004b68c49,NaN,NaN,NaN,NaN
19,C_ID_0004c2a5ab,NaN,NaN,NaN,NaN
20,C_ID_00057b99fe,NaN,NaN,NaN,NaN
21,C_ID_000599daf9,NaN,NaN,NaN,NaN
22,C_ID_0005f16cc8,NaN,NaN,NaN,NaN
23,C_ID_0006152db8,NaN,NaN,NaN,NaN
24,C_ID_000616f4a8,NaN,NaN,NaN,NaN
25,C_ID_000664aa02,NaN,NaN,NaN,NaN
26,C_ID_00079fec55,NaN,NaN,NaN,NaN
27,C_ID_0007a60a33,NaN,NaN,NaN,NaN
28,C_ID_0007fe3157,NaN,NaN,NaN,NaN
29,C_ID_000844d8f1,NaN,NaN,NaN,NaN
...,...,...,...,...,...
289971,C_ID_fffaed41f0,NaN,NaN,NaN,NaN
289972,C_ID_fffb79fb56,NaN,NaN,NaN,NaN
289973,C_ID_fffba72dc5,NaN,NaN,NaN,NaN
289974,C_ID_fffbdf036b,NaN,NaN,NaN,NaN
289975,C_ID_fffbee5c24,NaN,NaN,NaN,NaN
289976,C_ID_fffc96bf24,NaN,NaN,NaN,NaN
289977,C_ID_fffcb74f49,NaN,NaN,NaN,NaN
289978,C_ID_fffcf66e12,NaN,NaN,NaN,NaN
289979,C_ID_fffd070e0e,NaN,NaN,NaN,NaN
289980,C_ID_fffd1207a8,NaN,NaN,NaN,NaN
289981,C_ID_fffd24dcf3,NaN,NaN,NaN,NaN
289982,C_ID_fffd337484,NaN,NaN,NaN,NaN
289983,C_ID_fffd345048,NaN,NaN,NaN,NaN
289984,C_ID_fffd351e7f,NaN,NaN,NaN,NaN
289985,C_ID_fffd93c8bf,NaN,NaN,NaN,NaN
289986,C_ID_fffd943b91,NaN,NaN,NaN,NaN
289987,C_ID_fffdad8aa0,NaN,NaN,NaN,NaN
289988,C_ID_fffde15ab6,NaN,NaN,NaN,NaN
289989,C_ID_fffdf34798,NaN,NaN,NaN,NaN
289990,C_ID_fffe29a04a,NaN,NaN,NaN,NaN
289991,C_ID_fffe78b232,NaN,NaN,NaN,NaN
289992,C_ID_fffe866457,NaN,NaN,NaN,NaN
289993,C_ID_fffea6de74,NaN,NaN,NaN,NaN
289994,C_ID_fffeced303,NaN,NaN,NaN,NaN
289995,C_ID_fffeed3a89,NaN,NaN,NaN,NaN
289996,C_ID_ffff1d9928,NaN,NaN,NaN,NaN
289997,C_ID_ffff579d3a,NaN,NaN,NaN,NaN
289998,C_ID_ffff756266,NaN,NaN,NaN,NaN
289999,C_ID_ffff828181,NaN,NaN,NaN,NaN
290000,C_ID_fffffd5772,NaN,NaN,NaN,NaN

In [14]:
new_hist.shape

(1963031, 29)

In [23]:
train_cats(new_hist)

In [24]:
new_hist.dtypes

authorized_flag                       int64
card_id                            category
city_id                            category
category_1                            int64
installments                          int64
category_3                         category
merchant_category_id               category
merchant_id                        category
month_lag                             int64
purchase_amount                     float64
purchase_date                datetime64[ns]
category_2                          float64
state_id                           category
subsector_id                       category
purchase_Year                      category
purchase_Month                     category
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
purchased_on_weekend                  int64
month_diff                            int64
dtype: object

In [25]:
hist_copy.dtypes

authorized_flag                       int64
card_id                            category
city_id                            category
category_1                            int64
installments                          int64
category_3                           object
merchant_category_id               category
merchant_id                        category
month_lag                             int64
purchase_amount                     float64
purchase_date                datetime64[ns]
category_2                          float64
state_id                           category
subsector_id                       category
purchase_Year                      category
purchase_Month                     category
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
purchased_on_weekend                  int64
month_diff                            int64
dtype: object

In [3]:
new_hist = pd.read_csv('data/elo/new_merchant_transactions.csv')

In [4]:
add_datepart(new_hist, 'purchase_date', drop=False)

In [5]:
new_hist.shape

(1963031, 27)

In [6]:
def add_extra_cols(df):
    df['purchased_on_weekend'] = (df.purchase_Dayofweek >=5).astype(int)
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']
    return df

In [7]:
new_hist.dtypes

authorized_flag                      object
card_id                              object
city_id                               int64
category_1                           object
installments                          int64
category_3                           object
merchant_category_id                  int64
merchant_id                          object
month_lag                             int64
purchase_amount                     float64
purchase_date                datetime64[ns]
category_2                          float64
state_id                              int64
subsector_id                          int64
purchase_Year                         int64
purchase_Month                        int64
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
dtype: object

In [8]:
new_hist = add_extra_cols(new_hist)

In [38]:
DataFrameSummary(new_hist).summary()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,purchase_Dayofyear,purchase_Is_month_end,purchase_Is_month_start,purchase_Is_quarter_end,purchase_Is_quarter_start,purchase_Is_year_end,purchase_Is_year_start,purchase_Elapsed,purchased_on_weekend,month_diff
count,NaN,NaN,1.96303e+06,NaN,1.96303e+06,NaN,1.96303e+06,NaN,1.96303e+06,1.96303e+06,...,1.96303e+06,NaN,NaN,NaN,NaN,NaN,NaN,1.96303e+06,1.96303e+06,1.96303e+06
mean,NaN,NaN,134.387,NaN,0.682964,NaN,430.97,NaN,1.47652,-0.550969,...,109.884,NaN,NaN,NaN,NaN,NaN,NaN,1.51935e+09,0.307438,11.8304
std,NaN,NaN,101.515,NaN,1.58407,NaN,246.339,NaN,0.499448,0.694004,...,75.1097,NaN,NaN,NaN,NaN,NaN,NaN,6.6753e+06,0.461433,2.55716
min,NaN,NaN,-1,NaN,-1,NaN,-1,NaN,1,-0.746893,...,1,NaN,NaN,NaN,NaN,NaN,NaN,1.48834e+09,0,10
25%,NaN,NaN,69,NaN,0,NaN,278,NaN,1,-0.716629,...,71,NaN,NaN,NaN,NaN,NaN,NaN,1.51967e+09,0,10
50%,NaN,NaN,110,NaN,1,NaN,367,NaN,1,-0.674841,...,90,NaN,NaN,NaN,NaN,NaN,NaN,1.52146e+09,0,11
75%,NaN,NaN,212,NaN,1,NaN,683,NaN,2,-0.581616,...,112,NaN,NaN,NaN,NaN,NaN,NaN,1.52322e+09,1,12
max,NaN,NaN,347,NaN,999,NaN,891,NaN,2,263.157,...,365,NaN,NaN,NaN,NaN,NaN,NaN,1.52513e+09,1,23
counts,1963031,1963031,1963031,1963031,1963031,1907109,1963031,1936815,1963031,1963031,...,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031,1963031
uniques,1,290001,308,2,15,3,314,226129,2,75190,...,365,2,2,2,2,2,2,1667025,2,14
missing,0,0,0,0,0,55922,0,26216,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,2.85%,0%,1.34%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,constant,categorical,numeric,bool,numeric,categorical,numeric,categorical,bool,numeric,...,numeric,bool,bool,bool,bool,bool,bool,numeric,bool,numeric

In [9]:
train_cats(new_hist)

In [10]:
new_hist.dtypes

authorized_flag                    category
card_id                            category
city_id                               int64
category_1                         category
installments                          int64
category_3                         category
merchant_category_id                  int64
merchant_id                        category
month_lag                             int64
purchase_amount                     float64
purchase_date                datetime64[ns]
category_2                          float64
state_id                              int64
subsector_id                          int64
purchase_Year                         int64
purchase_Month                        int64
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
purchased_on_weekend                  int64
month_diff                            int64
dtype: object

In [11]:
new_hist_prc, y, nas = proc_df(new_hist, ignore_flds=['purchase_date'], max_n_cat=7)

In [13]:
??proc_df

In [12]:
new_hist_prc.dtypes

purchase_date                datetime64[ns]
card_id                               int64
city_id                               int64
installments                          int64
merchant_category_id                  int64
merchant_id                           int64
month_lag                             int64
purchase_amount                     float64
category_2                          float64
state_id                              int64
subsector_id                          int64
purchase_Year                         int64
purchase_Month                        int64
purchase_Week                         int64
purchase_Day                          int64
purchase_Dayofweek                    int64
purchase_Dayofyear                    int64
purchase_Is_month_end                  bool
purchase_Is_month_start                bool
purchase_Is_quarter_end                bool
purchase_Is_quarter_start              bool
purchase_Is_year_end                   bool
purchase_Is_year_start                 bool
purchase_Elapsed                      int64
purchased_on_weekend                  int64
month_diff                            int64
category_2_na                          bool
authorized_flag_Y                     uint8
authorized_flag_nan                   uint8
category_1_N                          uint8
category_1_Y                          uint8
category_1_nan                        uint8
category_3_A                          uint8
category_3_B                          uint8
category_3_C                          uint8
category_3_nan                        uint8
dtype: object

In [49]:
new_hist_prc.head().T

,0,1,2,3,4
purchase_date,2018-03-11 14:57:36,2018-03-19 18:53:37,2018-04-26 14:08:44,2018-03-07 09:43:21,2018-03-22 21:07:53
card_id,74151,74151,74151,74151,271039
city_id,107,140,330,-1,-1
installments,1,1,1,1,1
merchant_category_id,307,307,507,661,166
merchant_id,156250,120794,153186,140183,53390
month_lag,1,1,2,1,1
purchase_amount,-0.557574,-0.56958,-0.551037,-0.671925,-0.659904
category_2,1,1,1,1,1
state_id,9,9,9,-1,-1
subsector_id,19,19,14,8,29
purchase_Year,2018,2018,2018,2018,2018
purchase_Month,3,3,4,3,3
purchase_Week,10,12,17,10,12
purchase_Day,11,19,26,7,22
purchase_Dayofweek,6,0,3,2,3
purchase_Dayofyear,70,78,116,66,81
purchase_Is_month_end,False,False,False,False,False
purchase_Is_month_start,False,False,False,False,False
purchase_Is_quarter_end,False,False,False,False,False
purchase_Is_quarter_start,False,False,False,False,False
purchase_Is_year_end,False,False,False,False,False
purchase_Is_year_start,False,False,False,False,False
purchase_Elapsed,1520780256,1521485617,1524751724,1520415801,1521752873
purchased_on_weekend,1,0,0,0,0
month_diff,11,11,10,11,10
category_2_na,False,False,False,True,True
authorized_flag_Y,1,1,1,1,1
authorized_flag_nan,0,0,0,0,0
category_1_N,1,1,1,0,0
category_1_Y,0,0,0,1,1
category_1_nan,0,0,0,0,0
category_3_A,0,0,0,0,0
category_3_B,1,1,1,1,1
category_3_C,0,0,0,0,0
category_3_nan,0,0,0,0,0

In [50]:
new_hist_prc.shape

(1963031, 36)

In [45]:
new_hist_prc.to_feather('new_hist_prc')

In [14]:
nas

{'category_2': 1.0}

In [15]:
apply_cats(new_hist_prc, nas)

AttributeError: 'dict' object has no attribute 'columns'

In [17]:
y

In [21]:
??proc_df

In [20]:
??train_cats